body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.day-button {
	min-width: 100px;
}

.active {
	background-color: purple;
}

.tag {
	color: purple;
	font-weight: 600;
}

.number {
	width: 60px;
	height: 60px;
}

.seatButton {
	width: 60px;
}

.navigationButton {
	height: 50px;
	width: 90px;
	background-color: purple;
	border: none;
	outline: none;
	border-radius: 5px;
	font-weight: 700;
}

.movie-list-item {
	display: flex;
	align-items: center;
	min-height: 40px;
	border-bottom: 1px solid lightblue;
	padding: 5px 8px;
	font-weight: 600;
}

.movie-list-item:hover {
	text-decoration: underline;
}

.showMenuTrue {
	display: block;
}

.showMenuFalse {
	display: none;
}
